faiss-cpu
langchain
langchain-core
langchain-huggingface
langchain-community
langchain-elasticsearch
numpy
scrapy
fastapi
pydantic
uvicorn
huggingface_hub
python-dotenv
aiohttp
certifi
supabase
httpx
transformers
torch
together
elasticsearch
sentence-transformers
requests
psutil